version: '3'
services:
  frontend:
    build: ./frontend
    ports:
      - '8081:80'
    # links:
    #   - backend
  backend:
    restart: always
    build: ./backend
    ports:
      - '8080:8080'
    # links:
      # - mongo
  mongo:
    image: mongo
    ports:
      - '27017:27017'