version: '3'
services:
  postgres:
    image: postgres
    restart: always
    volumes:
      - ./localFolder:/data/db
    # ports:
    #   - '5433:5432'
  backend:
    restart: always
    build: ./backend
    ports:
      - '5000:80'
    links:
      - postgres
  frontend:
    build: ./frontend
    ports:
      - '8080:80'
    links:
      - backend