version: '3'
services:
  mongo:
    image: mongo
    restart: always
    volumes:
      - ./localFolder:/data/db
    ports:
      - '27017:27017'
  backend:
    restart: always
    build: ./backend
    ports:
      - '8080:8080'
    links:
      - mongo
  frontend:
    build: ./frontend
    ports:
      - '8081:80'
    links:
      - backend