version: "3"
services:
  postgres:
    image: postgres:11
    restart: always
    volumes:
      - $HOME/docker/volumes/postgres:/var/lib/postgresql/data
  backend:
    image: b93rn/backend:latest
    restart: always
    ports:
      - "5000:80"
    links:
      - postgres
  frontend:
    image: b93rn/frontend:1.0.0
    ports:
      - "8080:80"
    links:
      - backend
