version: "3"
services:
  postgres:
    image: postgres
    restart: always
    volumes:
      - ./localFolder:/data/db
    # ports:
    #   - '5433:5432'
  backend:
    image: b93rn/canshop_backend:rpi
    restart: always
    ports:
      - "5000:80"
    links:
      - postgres
  frontend:
    image: b93rn/canshop_frontend:rpi
    ports:
      - "8080:80"
    links:
      - backend
