:root {
    --main-bg: #E4E6F1;
    --main-black: #0E0B0B;
    --finance-green: #62FC67;
    --finance-yellow: #FCE762;
    --finance-red: #FF5F5F;
    --finance-blue: #5F85FF;

    --finance-green-shadow: rgba(98, 252, 103, 0.45);
    --finance-yellow-shadow: rgba(252, 231, 98, 0.5);
    --finance-red-shadow: rgba(255, 95, 95, 0.4);
    --finance-blue-shadow: rgba(95, 132, 255, 0.4);


}

